@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: start;
  font-family: "Poppins";
  z-index: 9999;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  position: relative;
  margin-right: 30px;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: rgb(14, 93, 196);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: all 0.5s;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: rgb(67, 67, 239);
}

nav a.active {
  color: rgb(67, 67, 239);
}

nav a.active::after {
  width: 100%;
}

/* SECTIONS */
section {
  min-height: 100vh;
  padding-top: 70px;
}

/* HOME SECTION */
#home {
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.home-text h1 {
  font-size: 60px;
  font-weight: 700;
}

.home-text h2 {
  font-size: 40px;
}

.home-text h3 {
  font-size: 30px;
  color: red;
}

.home-tagline {
  font-size: 20px;
  margin-top: 20px;
  color: #1e293b;
  max-width: 500px;
  line-height: 1.5;
}

.profile_pic {
  border: 4px solid black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.profile_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.typing-word {
  display: inline;
  color: #1d4ed8;
  font-weight: 600;
}

.typed-cursor {
  display: inline;
  color: red;
  font-weight: 600;
}

/* ABOUT SECTION */
#about {
  background-color: #1e293b;
  color: #f5f5f5;
  padding-bottom: 30px;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.section-container {
  padding: 10px 50px;
  position: relative;
  z-index: 2;
  width: 50%;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.8s ease;
}

/* When visible */
.section-container.show {
  opacity: 1;
  transform: translateY(0);
}

.section-container:nth-child(1) {
  animation-delay: 0s;
}
.section-container:nth-child(2) {
  animation-delay: 1s;
}
.section-container:nth-child(3) {
  animation-delay: 2s;
}
.section-container:nth-child(4) {
  animation-delay: 3s;
}
.section-container:nth-child(5) {
  animation-delay: 3s;
}
.section-container:nth-child(6) {
  animation-delay: 4s;
}

.text-box {
  padding: 20px 30px;
  background: #3b82f6;
  position: relative;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.section-container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 3;
}

.right-container img {
  left: -10px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 0;
  background: linear-gradient(to bottom, #ff4d4d, #4d79ff);
  box-shadow: 0 0 10px rgba(246, 55, 55, 0.6);
  top: 0;
  left: 50%;
  margin-left: 3px;
  z-index: 0;
  transition: height 1.5s ease;
}

/* When active */
.timeline.show-line::after {
  height: 100%;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .section-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid black;
    border-left: 0;
    left: -15px;
  }
}
